<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Youtube"
                       defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let item of video.playlist; let i = index"
                [routerLink]="'/youtube/'+ i">
        <ion-label>
          <ion-text color="primary">
            {{ item.title }}
          </ion-text>
          <p>{{ item.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
