<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="กล้องถ่ายรูป"
                       defaultHref="/"></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button color="dark"
                size="large"
                (click)="takePicture()">
      <ion-icon name="camera-outline"></ion-icon> ถ่ายรูป
    </ion-button>

    <ion-grid *ngIf="photos.length !== 0">
      <ion-row>
        <ion-col size="6"
                 *ngFor="let photo of photos; let i = index">
          <ion-card id="flex-result">
            <ion-icon name="trash-outline"
                      class="btn-remove"
                      size="large"
                      (click)="removePicture(i)"></ion-icon>
            <img [src]="photo"
                 *ngIf="photo">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
