<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="ข่าวสาร"
                       defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of news">
    <img [src]="item.urlToImage">
    <ion-card-header>
      <ion-card-subtitle>{{ item.author }} | {{ item.publishedAt | date: 'dd/MM/y' }}</ion-card-subtitle>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ item.description }}
    </ion-card-content>
  </ion-card>

</ion-content>
