<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <p>ICON</p>
          <h5>บัญชีของฉัน</h5>
        </div>
      </ion-col>
      <ion-col>
        <p>ICON</p>
        <h5>กล้องถ่ายรูป</h5>
      </ion-col>
      <ion-col>
        <p>ICON</p>
        <h5>QR Code</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>ICON</p>
        <h5>ข่าวสาร</h5>
      </ion-col>
      <ion-col>
        <p>ICON</p>
        <div>คอร์ส</div>
      </ion-col>
      <ion-col>
        <p>ICON</p>
        <div>Todos</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>ICON</p>
        <div>เข้าสู่ระบบ</div>
      </ion-col>
      <ion-col>
        <p>ICON</p>
        <div>ลงทะเบียน</div>
      </ion-col>
      <ion-col>
        <p>ICON</p>
        <div>Youtube</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
