<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>บัญชีของฉัน</h5>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>กล้องถ่ายรูป</h5>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>QR Code</h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>ข่าวสาร</h5>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>คอร์ส</h5>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>Todos</h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>เข้าสู่ระบบ</h5>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>ลงทะเบียน</h5>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-menu">
          <p>ICON</p>
          <h5>Youtube</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
