<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="บัญชีของฉัน"
                       defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="container">
      <div class="image-profile">
        <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.6435-1/116436600_2888872954567790_4349353752233736682_n.jpg?stp=dst-jpg_p160x160&_nc_cat=106&ccb=1-5&_nc_sid=7206a8&_nc_eui2=AeH9qlbgwIopzZvc3JzFg3idtNKqbyGPZoG00qpvIY9mgVf0tthxX7DSktZN-PXJ1x5c708hsiR5T_bUk-GHf_Uy&_nc_ohc=AFV-1erCEW0AX-NfuV8&_nc_ht=scontent.fbkk14-1.fna&oh=00_AT_TgWBEXZCryhM_XyX6DwHB5g21aw87HmGodDxy4azRSg&oe=62774F03">
      </div>
      <h2>Taveevut Nakomah</h2>
      <h4>Full Stack Developer</h4>

      <div class="social-media">
        <a href="#">
          <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="['fab', 'google']"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="head">
        <h2>บริการของฉัน</h2>
        <div class="divider"></div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="service">
            <div class="icon">
              <fa-icon icon="images"></fa-icon>
            </div>
            <h5>Graphic Design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="col s6">
          <div class="service">
            <div class="icon">
              <fa-icon [icon]="['fas', 'earth-asia']"></fa-icon>
            </div>
            <h5>Web Design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="service">
            <div class="icon">
              <fa-icon icon="object-ungroup"></fa-icon>
            </div>
            <h5>UX/UI Design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="col s6">
          <div class="service">
            <div class="icon">
              <fa-icon icon="helicopter-symbol"></fa-icon>
            </div>
            <h5>Logo Design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
